* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eaeaea;
  font-family: 'Inter', sans-serif;
  color: #000;
  padding: 10px;
}

.window {
  max-width: auto;
  margin: auto;
  background: #fff;
  border: 3px solid #000;
}

.window-bar {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    border-bottom: 3px solid #000;
    font-size: 15px;
}

.home {
    padding:10px;
    display: flex;
    gap: 20px;
    border-bottom: 2px dashed #2b2929;
}

.home a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
    
.home a:hover {
  text-decoration: underline;
}

.welcome {
    text-align: center;
    padding: 50px;
    border-bottom: 3px solid #000;
}

.welcome h1 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 30px;
    font-size: 29px;
}

.enter {
    font-family: 'Press Start 2P', cursive;
    padding: 12px 20px;
    border: 3px solid #000;
    cursor: pointer;
   
}

.enter:hover {
  background: #000;
  color: #fff;
}

.about h2 {
    margin-bottom: 15px;
    font-family: 'Press Start 2P', cursive;
}



.about{
    padding: 30px;
    border-bottom: 3px solid #000;
    text-align: center;
}
